
#main-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

main {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

main .items {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.items > * {
	margin: 1em;
	padding: 0.5em;
	text-align: left;
	cursor: pointer;
	outline: 0.25em solid transparent;
	transition: outline-color 0.25s;
}

.items > *:hover, .items > *:active, .items > *:focus {
	outline-color: black;
}

.items > * img {
	height: 15em;
	margin-bottom: 0.5em;
}

#side-menu ul {
	position: sticky;
	top: 5em;
	padding-block: 0.5em;
	padding-right: 1.5em;
	background-color: black;
	color: white;
	font-size: 1.5em;
}

#side-menu li {
	margin: 0.5em;
}

#side-menu a {
	color: white;
	text-decoration: none;
}

#side-menu a:hover, #side-menu a:focus {
	text-decoration: underline;
}
