@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font: 12pt "Railway", sans-serif;
} 

h1, h2, h3, h4, h5, h6 {
	font-family: "Playwrite DE Grund", cursive;
	margin: 0;
}

p {
	margin: 0;
}

header, footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
}

header form, header nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header input {
	width: 20em;
	padding: 1rem;
}

header a {
	color: white;
	text-decoration: none;
	margin-inline: 0.5em;
}

header a:hover {
	text-decoration: underline;
}

 main {
	display: flex;
	justify-content: flex-start;
	position: fixed;
	right: 50px;
}

img {
	width: 95%;
	height: 90%;
}

r


main section {
	margin: 1em;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	cursor: pointer;
}

main section:hover {
	outline: 1px solid black;
}

main section img {
	height: 5em;
	margin: 0.5em;
}

main section p {
	text-align: left;
} 

/* The sidebar menu */
.sidenav {
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	bottom: 140px; /* Stay at the top */
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  