@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font: 12pt "Railway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playwrite DE Grund", cursive;
	margin: 0;
}

p, ul, ol, li {
	margin: 0;
}

header, footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
}

header form, header nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header input {
	width: 20em;
	padding: 1rem;
}

header a {
	color: white;
	text-decoration: none;
	margin-inline: 0.5em;
}

header a:hover {
	text-decoration: underline;
}

#main-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

main {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

main .items {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.items > * {
	margin: 1em;
	padding: 0.5em;
	text-align: left;
	cursor: pointer;
	outline: 0.25em solid transparent;
	transition: outline-color 0.25s;
}

.items > *:hover, .items > *:active, .items > *:focus {
	outline-color: black;
}

.items > * img {
	height: 15em;
	margin-bottom: 0.5em;
}

#side-menu ul {
	position: sticky;
	top: 2em;
	padding-block: 0.5em;
	padding-right: 1.5em;
	background-color: black;
	color: white;
	font-size: 1.5em;
}

#side-menu li {
	margin: 0.5em;
}

#side-menu a {
	color: white;
	text-decoration: none;
}

#side-menu a:hover, #side-menu a:focus {
	text-decoration: underline;
}
